@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap');

:root {
    color-scheme: light, dark;
    background: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/* html {
    scroll-behavior: smooth;
} */
body {
    overflow-x:hidden;
}
::-webkit-scrollbar {
    display: none;
}

section {
    overflow: hidden;
}
.container {
    padding: 0 25vw;
    margin: auto;
}
.text-style {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 35px;
    color: #fff;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
}
.about .about-content.top h2 ,
.skills .skills-content h2,
.projects h2 {
    position: absolute;
    top: 0;
    left: 0;
    font-family: 'Luckiest Guy', cursive;
    font-size: 35px;
    text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.5);
    transform: translate(calc(100px - 9vw), 0px);
}
.about .about-content.top h2  {
    color: #fff;
}
.skills .skills-content h2,
.projects h2 {
    color: #C14747;
}

#canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 120vh;
    pointer-events: none;
}

/* navbar styling */
.navbar {
    width: 100vw;
    background: #3A3A84;
    height: 50px;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
}
.navbar .logo a {
    width: 220px;
    position: absolute;
    top: 0;
    left: 0;
    background: #3A3A84;
    clip-path: polygon(0 0, 100% 0, 60% 100%, 0 100%);
    border-radius: 0px 13px 0px 0px;
}
.navbar .logo a svg {
    padding: 5px;
    width: 145px;
}
.navbar .menu {
    display: flex;
}
.navbar .menu li {
    padding-left: 1px;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: flex-start;

    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    list-style: none;
    background: #fff;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.navbar .menu li .menu-btn {
    cursor: pointer;
    width: 214px;

    color: #fff;
    font-size: 30px;
    line-height: 58px;
    text-align: center;
    
    background: #3A3A84;
    clip-path: polygon(15% 0, 100% 0, 85% 100%, 0 100%);
}
.navbar .menu li .menu-btn:hover {
    background: #C14747;
}


/* home styling */
.home {
    height: 80vh;
    width: 100%;
}
.home .home-background{
    position: absolute;
    height: 120vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: -1;

    background-image: linear-gradient(0deg, transparent 48px, rgb(233, 233, 233) 50px), linear-gradient(90deg, transparent 48px, rgb(233, 233, 233) 50px);
    background-size: 50px 50px;
}
.home .social-container {
    position: absolute;
    right: 0;
    height: 80%;
    overflow: hidden;
    background: none;
    pointer-events: none;
}
.home .social-container li {
    list-style: none;
    margin-bottom: 20px;
    pointer-events: all;
}
.home .social-container .social-menu {
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    align-items: flex-end;
    justify-content: flex-end;
    height: 100%;
}
.home .social-container a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px 0px 5px;
    min-height: 50px;
    min-width: 200px;

    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #5050BA;
    line-height: 2;
    border-style: solid;
    border-color: #5050BA;
    border-width: 5px;
    border-radius: 35px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    transform: translate(140px, 0px);
    transition: transform 0.3s ease;
}
.home .social-menu li a svg path {
    fill: #5050BA;
}
.home .social-container a:hover,
.home .social-container a:hover svg path {
    color: #C14747;
    border-color: #C14747;
    fill: #C14747;
}
.home .social-container a:hover {
    transform: translate(5px, 0px);
}
.home .social-container a svg {
    margin-right: 10px;
}


/* about styling */
.about {
    position: relative;
    height: 170vh;
    min-height: 1000px;
    margin-bottom: 50px;
    padding-top: 170px;
    z-index: 1;
    pointer-events: none;
}
.about .resume-btn {
    margin-top: 50px;
}
.about .resume-btn a svg {
    margin: 0px 15px 0px 10px;
    padding: 0px 2px;
}
.about .resume-btn a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px 5px 0px 5px;
    height: 70px;
    width: 185px;

    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 24px;
    color: #C14747;
    line-height: 2;
    border-style: solid;
    border-color: #C14747;
    border-width: 5px;
    border-radius: 35px;
    background: #fff;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.about .about-content {
    position: relative;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    pointer-events: all;
    min-height: 350px;
}
.about .about-content.top .text-style {
    white-space: nowrap;
}
.about .about-content.top p span {
    position: absolute;
    font-family: 'Luckiest Guy', Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #C14747;
    transform: translate(10px, -13px);
}
.about .about-content .about-column-text {
    flex: 1.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about .about-content.bottom .about-column-text p {
    font-size: 30px;
    text-align: center;
}
.about .about-content.top .about-column-img {
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: -3;
    /* height: 80vh; */
    /* filter: drop-shadow(20px 15px 4px rgba(0, 0, 0, 0.5)); */
    animation: float 6s ease-in-out infinite;
}
.about .about-content.bottom {
    margin-top: 10vh;
}
.about .about-content.bottom .about-column-img {
    display: flex;
    justify-content: center;
    flex: 1;
    z-index: -2;
    /* height: 80vh; */
    /* filter: drop-shadow(20px 15px 4px rgba(0, 0, 0, 0.5)); */
    animation: float 6s ease-in-out infinite;
    animation-delay: 2s;
}
.about .about-background {
    position: absolute;
    top: 5vh;
    width: 100%;
    height: 100vh;
    z-index: -3;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    min-height: 580px;
}
.about .about-background div {
    width: 100%;
    height: 100%;
    background: #5050BA;
    clip-path: polygon(0 0, 100% 20%, 100% 85%, 0 65%);
}
.about .about-background2 {
    position: absolute;
    top: 45%;
    width: 100%;
    height: 100vh;
    z-index: -2;
    filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.5));
    min-height: 580px;
}
.about .about-background2 div {
    width: 100%;
    height: 100%;
    background: #3A3A84;
    clip-path: polygon(0% 20%, 100% 0%, 100% 65%, 0 85%);
}


/* skills styling */
.skills {
    padding: 50px 0px;
    margin-bottom: 100px;
    background: #F0F0F0;
}
.skills .container {
    height: 100%;
}
.skills .skills-content {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}
.skills .skills-list {
    padding-top: 100px;
    height: auto;
    width: 40vw;
    min-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    list-style: none;
}
.skills .skills-list li {
    width: 120px;
    height: 150px;
    margin: 10px;

    font-family: 'Mochiy Pop One', Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #fff;
    text-shadow: 0px 4px 4px rgb(0 0 0 / 50%);
    
    background-color: transparent;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
    perspective: 1000px;
}
.skills .skills-list li a {
    margin-top: 10px;
    color: #fff;
}
.skills .skills-list svg{
    height: 70px;
}
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
  }
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
.flip-card-front {
    background: #FFF;
    color: black;
}
.flip-card-back {
    background-color: #C14747;
    color: white;
    transform: rotateY(180deg);
}
.skills .skills-list li:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.skills #matter-canvas {
    width: 100%;
    max-width: 800px;
    text-align: center;
}
.skills #matter-canvas canvas {
    width: 100%;
}

/* projects styling */
.projects {
    padding: 50px 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(0deg, transparent 49px, rgb(233, 233, 233) 50px), linear-gradient(90deg, transparent 49px, rgb(233, 233, 233) 50px);
    background-size: 50px 50px;
    background-attachment: fixed;
    background-position: 7px -15px;
}
.projects .container {
    height: 100%;
}
.projects .projects-content {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 120px;
}
.projects .details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}
.projects .details .btn-more-details {
    flex: 1;
    background-color: #5050BA;
    border-radius: 6px;
    margin-right: 10px;
    cursor: pointer;
}
.projects .details .btn-learn-more {
    flex: 2;
    background-color: #5050BA;
    border-radius: 6px;
    cursor: pointer;
}
.projects .details .btn-more-details:hover,
.projects .details .btn-learn-more:hover {
    opacity: 80%;
}
.projects .tooltiptext {
    visibility: hidden;
    /* width: 120px; */
    background-color: #3A3A84;
    font-size: 1rem!important;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    transform: translate(-50%, -150%);
    z-index: 1;
}
.projects li.source-code {
    margin-left: auto!important;
}
.projects  li.source-code .tooltiptext {
    white-space: nowrap;
    transform: translate(-100%, -150%);
}
.projects  li:hover .tooltiptext {
    visibility: visible;
}
.projects .carousel {
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}
.projects .carousel .card {
    height: 400px;
    margin: 0 5px;
    background: #3A3A84;
    border-radius: 25px;
    padding: 25px 35px;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover {
    background: #C14747;
}
.projects .carousel .card .box {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.3s ease;
}
.projects .carousel .card:hover .box {
    transform: scale(1.05);
}
.projects .carousel .card .text span {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.projects .carousel .card ul {
    list-style: none;
    display: flex;
    margin-top: 15px;
}
.projects .carousel .card ul li {
    margin-top: 20px;
    margin: 0px 5px;
    height: 30px;
    width: 30px;
}
.projects .carousel .card ul svg {
    height: 100%;
    width: 100%;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}
.projects .carousel .card img {
    max-height: 200px;;
    object-fit: scale-down;
    transition: all 0.3s ease;
}
.projects .owl-dots {
    text-align: center;
    margin-top: 20px;
}
.projects .owl-dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    outline: none;
    border: 2px solid #5050BA!important;
    transition: all 0.3s ease;
}
.projects .owl-dot.active {
    width: 20px;
}
.projects .owl-dot:hover,
.projects .owl-dot.active {
    background: #5050BA!important;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.9);
    z-index: 2;
}
.modal .close-btn {
    position: absolute;
    top: 15px;
    right: 35px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    z-index: 3;
}
.modal .close-btn:hover,
.modal .close-btn:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
.modal .carousel2 {
    display: grid;
    align-items: end;
    height: 100%;
    filter: drop-shadow(0px 5px 4px rgba(0, 0, 0, 0.5));
}
.modal .carousel2 .card {
    transition: all 0.3s ease;
}
.modal .carousel2 .card .box {
    padding: 10px;
}
.modal .carousel2 .card img {
    max-height: 90vh;
    object-fit: scale-down;
    transition: all 0.3s ease;
}
.modal .owl-dots {
    text-align: center;
    margin-top: auto;
    margin-bottom: 10px;
}
.modal .owl-dot {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    margin: 0 5px;
    outline: none!important;
    border: 2px solid #5050BA!important;
    transition: all 0.3s ease;
}
.modal .owl-dot.active {
    width: 20px;
}
.modal .owl-dot:hover,
.modal .owl-dot.active {
    background: #5050BA!important;
}

/* responsive media query start */
@media (max-width: 1500px) {
    .container {
        padding: 0 20vw;
    }
    .skills .skills-list li {
        width: 100px;
        height: 130px;
    }
}  
@media (max-width: 1024px) {
    .container {
        padding: 0 10vw;
    }
}
@media (max-width: 900px) {
    .container {
        padding: 0 5vw;
    }
    .text-style {
        font-size: 20px;
    }
    .about .about-content.top h2,
    .skills .skills-content h2,
    .projects h2 {
        font-size: 20px;
        transform: none;
    }

    .navbar .menu {
        display: none;
    }
    .about {
    padding-top: 100px;
    }
    .about .resume-btn {
        display: none;
        position: absolute;
        top: -50px;
        left: calc(100vw - 215px);
    }
    .about .about-content p {
        text-align: center;
        width: 100%;
    }
    .about .about-content.top {
        flex-direction: column-reverse;
        height: 75vh;
    }
    .about .about-content.top h2 span::after {
        content: "\a"; 
        white-space: pre;
    }
    .about .about-content.top .about-column-text {
        display: flex;
        align-items: center;
    }
    .about .about-content.top p span {
        position: unset;
        font-size: 30px;
    }
    .about .about-content .about-column-img {
        position: relative;
    }
    .about .about-content .about-column-img img {
        position: absolute;
        top: 0;
        height: calc(600px - 15vw);
        max-height: 600px;
    }
    .about .about-content.bottom {
        flex-direction: column;
        height: 70vh;
        margin-top: 0;
    }
    .about .about-content.bottom .about-column-text p {
        position: unset;
    }
    .skills .skills-list {
        width: 100%;
        min-width: 0;
    }
}
@media (max-width: 480px) {
    .text-style {
        font-size: 15px!important;
    }
    .about .about-content.top p span {
        font-size: 30px!important;
    }
    .about .about-content.top {
        height: 70vh!important;
    }
    .skills .skills-list li {
        width: 70px!important;
        height: 100px!important;
    }
    .skills .skills-list svg {
        height: 50px;
    }
    .skills .skills-list li {
        font-size: 9px;
    }
}

@media (max-height: 1100px) and (max-width: 1600px) {
    .text-style {
        font-size: 20px!important;
    }
    .about .about-content.top p span {
        font-size: 40px;
    }
    .about .resume-btn {
        margin-top: 20px;
    }
    .about {
        padding-top: 110px;
    }
}
@media (min-height: 1100px) and (min-width: 900px) and (max-width: 2000px) {
    .about .about-content.bottom .about-column-text p {
        width: 650px;
    }
}
@media (max-height: 480px){
    #canvas-container {
        min-height: 580px;
    }
}

@media  (prefers-color-scheme: dark) {
    body {
        background: #222222;
    }
    .skills .skills-content h2,
    .projects h2 {
        color: #fff;
    }
    
    .navbar,
    .navbar .logo a,
    .navbar .menu li .menu-btn,
    .about .about-background2 div,
    .flip-card-front,
    .projects .carousel .card {
        background: #414141;
    }
    .navbar .logo a svg path,
    .home .social-menu li a svg path {
        fill: #414141;
    }
    .home .social-container a {
        color: #414141;
        border-color: #414141;
    }
    .about .about-background div {
        color: #FFF;
        background: #525252;
    }
    .skills {
        background: transparent;
    }
    li svg .color-group path,
    li svg .color-group circle {
        fill: #FFF;
        stroke: none;
    }
    li svg .color-group2 path {
        fill: #525252;
    }
    .carousel .card:hover li svg .color-group2 path {
        fill: #C14747;
    }
    .projects,
    .projects .tooltiptext {
        background-color: #252525;
    }
    .projects .owl-dot,
    .modal .owl-dot {
        border: 2px solid white!important;
    }
    .projects .owl-dot:hover,
    .projects .owl-dot.active,
    .modal .owl-dot:hover,
    .modal .owl-dot.active {
        background: white!important;
    }
}


/* animation settings styling */
@keyframes float {
	0% {
        transform: translatey(0px);
	}
	50% {
        transform: translatey(-20px);
	}
	100% {
        transform: translatey(0px);
	}
}
